.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  border: 0.2rem solid black;
  margin-block: 1rem;
  margin-inline: 1rem;
  padding: 1rem;
  inline-size: 95%;
  max-inline-size: 62.5rem;
}

.question ul {
  list-style: none;
  margin-block-start: 0.5rem;
}

.question ul li {
  padding: 1rem;
  border: 0.1rem solid #a0a4b2;
  border-radius: 0.313rem;
  margin-block: 1rem;
  max-inline-size: 13rem;
}

.question ul li:hover {
  cursor: pointer;
}

.question ul li.selected {
  background-color: #d4d6f3;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container p {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding-inline-start: 2rem;
}

#check-restart-button {
  font-family: "Poppins", sans-serif;
  inline-size: 10rem;
  block-size: 4rem;
  background-color: #445092;
  color: white;
  border-radius: 0.575rem;
  margin-block-end: 1rem;
}

#check-restart-button:hover,
#check-restart-button:focus {
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 640px) {
  .question ul {
    display: flex;
  }

  .question ul li {
    margin-inline: 0.5rem;
  }
}
